@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*
{
    font-family: 'Ubuntu', sans-serif
}

a:hover{
    cursor: pointer;
}

:root
{
    --snow : rgba(255,255,255,1) !important;
    --pale-dk : rgba(0,0,0,0.75) !important;
    --dk-fade : rgba(0,0,0,0.75) !important;
    --dark : rgba(0,0,0,1) !important;
    --violet : rgba(107, 33, 219 , 0.86) !important;
    --pale : #eee !important;
    --light: rgba( 255,255,255,0.75) !important;
    --error : rgba(209, 8, 8,0.75) !important;
    --danger : rgba( 209, 8, 4 , 1 ) !important;
    --success : rgba(13, 105, 36,0.75)  !important;
}

body
{
    background :var(--pale);
}

.bg-snow
{
    background-color : var(--snow);
    box-shadow : 0 0 2px var(--pale-dk);
}

.bg-snow
{
    color: var(--pale-dk);
}

.bg-pale-dk
{
    background-color: var(--pale-dk);
    box-shadow: 0 0 2px var(--pale-dk);
}

.pale-dk
{
    color : var(--pale-dk);
}

.bg-dark
{
    background-color: var(--dark);
    box-shadow : 0 0 2px var(--dark);
}

.dk
{
    color : var(--dark);
}

.bold
{
    font-weight:bold !important;
}

.small
{
    font-weight:300 !important;
}

.violet
{
    color:var(--violet);
}

.light
{
    color:var(--light);
}

.error
{
    color:var(--error);
    font-size:15px !important;
    font-weight: bold;
}

.success{
    color:var(--success);
    font-weight: bold;
}

/* custom css */

#brand:hover
{
    cursor: pointer;
}

#search-input
{
    background-color: var(--pale);
    border: none;
    border-radius: 5px;
    transition: 0.4s all;
}

#search-input:focus
{
    outline: none !important;
    background-color: var(--snow);
    box-shadow: 0 0 3px var(--pale-dk);   
}

.search-btn
{
   padding:7px 10px !important;
   left:12px !important;
   top:16% !important;
   position: absolute;
   box-shadow: none;
   border: none;
   background-color: none;
   padding: 0 ;
}

.search-clear
{
    font-size: 10px !important;
    right:-20px;
    top:3px;
    position: absolute;
    padding:5px 10px;
    text-align: center;
    font-size:18px !important;
    transform: translateX(-150%);
}

.search-clear:hover,.search-btn:hover
{
    background:var(--pale);
    border-radius: 100%;
    cursor:pointer;
}

#profile-icon img
{
    width:45px  !important;
    height:45px !important;
    box-shadow: 0 0 0.5px var(--pale-dk);
    border-radius: 50%;
}

#profile-icon img:hover
{
    box-shadow : 0 0 2px var(--pale-dk);
}

#small-box
{
    width: 230px;
    height:150px;
    border-radius: 3px !important;
    box-shadow: 0 0 1px var(--dark);
    transition: 0.3s all;
}

#small-box:hover
{
    cursor:pointer;
    border-radius: 3px !important;
    box-shadow: 0 0 3px var(--violet);
}

#small-box img
{
    width:100%;
    height:100%;
}

#form-container
{
    background-color: var(--snow);
    padding:50px 80px !important;
    transition:0.3s all;
}

#form-container:hover
{
    cursor: pointer;
    box-shadow: 0 0 3px var(--violet);
}

#form-container label
{
    color : var(--violet);
}

#form-container input
{
    background-color: var(--pale);
    border: none;
    border-radius: 3px;
    padding:5px 15px;
    color:var(--violet) !important;
}

#form-container input:focus
{
    outline:none;
    box-shadow:0 0 3px var(--pale-dk);
}

#form-header
{
    background-color: var(--snow);
}

#form-main #part
{
    background:var(--snow);
    margin-bottom:50px !important;
}

#form-main input , #form-header input
{
    border: none;
    /* background: var(--pale); */
    padding:5px 20px;
    border-radius: 4px;
    border-bottom: 1.5px solid var(--violet);
    transition: 0.3s all;
}

#form-main input:focus , #form-header input
{
    outline:none;
    background: var(--pale);
    border-bottom: 3px solid var(--violet);
}

#form-main #part #part-answer
{
    border: none !important;
    color:var(--dark-fade) !important;
    margin:5px 0;
    width:50%;
    background-color: var(--pale);
}

#form-main #part #part-answer:focus
{
    outline: none !important;
    border: none !important;
}

#answer-del-btn
{
    margin-left:5px;
    padding:10px;
    border-radius: 50%;
    background: var(--pale);
}

#part
{
    position: relative;
}

#control-panel
{
    position: absolute;
    border-radius:3px;
    box-shadow: 0 0 1px var(--pale-dk);
    background-color: var(--snow) !important;
    width:5% !important;

    right:-100px;
    top:30px;
}

#control-panel i
{
    font-size:20px !important;
    color:var(--violet);
    padding:10px;
    border-radius:50%;
    transition:0.5s all;
}

#control-panel i:hover
{
    cursor:pointer;
    background-color: var(--pale);
}

#form-main #form-reset-btn,#form-main #form-create-btn
{
   border-radius:4px;
   padding:5px 10px;
   color:var(--light);
   border: none;
   box-shadow: 0 0 2px var(--dark);
}

#form-main #form-reset-btn
{
    background-color: var(--danger);
}

#form-main #form-create-btn
{
    background-color: var(--violet);
}
